@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary: #0F0F0F;
  --primaryLight: #1A1A1A;

  --secondary: #FFFFFF;
  --secondaryDark: #E5E5E5;

  --accent: #E75480;
  --accentHover: #D9436E;

  --textPrimary: #FFFFFF;
  --textSecondary: #B3B3B3;

  --border: #2A2A2A;
  --cardBg: #161616;

  --success: #22C55E;
  --error: #EF4444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Mulish", sans-serif;
}

body{
  background-color: var(--secondaryDark);
}